<html>
<head>
    <title>Attender Login</title>
</head>
<body>
    <h1>Attender Login</h1>
    <form action="/ATTE/loginn" method="POST">
        <label for="attendemail">Email:</label>
        <input type="email" id="attendemail" name="attendemail" required><br><br>

        <label for="attendpassword">Password:</label>
        <input type="password" id="attendpassword" name="attendpassword" required><br><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>