<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/ATTE/signinn" method="post">
        <label for="attendname">name</label> <br>
        <input type="text" name="attendname" required><br>
        <label for="attendusername">user name</label> <br>
        <input type="text" name="attendusername" required> <br>
        <label for="attendemail">email</label> <br>
        <input type="text" name="attendemail" required> <br>
        <label for="attendpassword">password</label>
        <input type="password" name="attendpassword" required><br>
        <button type="submit">sign in</button>

     </form>
</body>
</html>